*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color:black;
    padding: 0;
}

.list-nav{
    display: flex;
    gap: 1.875rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-nav li a:hover{
    text-decoration: underline;
    color: white;
}

.list-nav li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.75rem;
    list-style: none;
}

header{
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content:center;
    align-items: center;
    padding-right: 30px;
    position: sticky;
    top: 0;
}


.img-header{
    height: 6.875rem;
    width: 9.375rem;
}

.parrafos-pag{
    text-align: center;
    font-size: 1.5625rem;
    color: white;
}

.img-1{
    text-align: center;
    width: 100%;
    height: 43.75rem;
    padding: 2%;
}

.img-1 img{
    height: 100%;
    width: 70%;
    border: 3px solid grey;
}

.div-iframe{
    text-align: center;
    width: 100%;
}

.div-iframe iframe{
    padding-bottom: 3%;
}

h1{
    font-size: 2.5rem;
    background-color: grey;
    padding: 2%;
}

h2{
    color: white;
    font-size: 1.875rem;
    text-align: center;
    padding: 1%;
}

.iconos-footer{
    width: 2.8125rem;
    height: 2.8125rem;
}

.div-button{
    text-align: center;
}

.button-link{
    padding: .625rem;
    background-color: grey;
    border-radius: 1.25rem;
}

.button-link a{
    color: black;
}

.link-whatsapp{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.link-whatsapp:hover{
    text-decoration: underline;
    color: white;
}

footer{
    background-color: grey;
    padding: .3125rem;
}

.p-footer{
    font-size: .9375rem;
    text-align: center;
}

.list-footer{
    display: flex;
    list-style: none;
    gap: 5rem;
    padding: 2%;
    justify-content: center;
}

.div-parrafo-contacto{
    background-color: grey;
    width: 31.25rem;
    height: 15.625rem;
    padding: 2.5rem;
    margin: auto;
    margin-bottom: .625rem;
    border-radius: 1.5625rem;
}

.div-parrafo-contacto p{
    font-size: 1.375rem;
    text-align:center;
}

.ul-contacto{ 
    background-color: grey;
    display: flex;
    list-style: none;
    gap: 5.625rem;
    justify-content: center;
    padding: 0;
}

.div-ul-contacto{
    background-color: grey;
    width: 31.25rem;
    height: 9.375rem;
    margin: auto;
    padding: 1.875rem;
    border-radius: 1.5625rem;
}

.div-ul-contacto h4{
    font-size: 1.625rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: .9375rem;
}


.form-contacto{
    width: 23.75rem;
    background-color: rgb(128, 128, 128);
    padding: 1.875rem;
    margin: auto;
    border-radius: 1.5625rem;
}

.form-contacto .contact{
    width: 100%;
    padding: .625rem;
    border-radius: .625rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}

.form-contacto h4{
    text-align: center;
    text-decoration: underline;
    height: 2.5rem;
    font-size: 1.5rem;
}

.form-contacto .boton{
    width: 100%;
    border: 1px solid black;
    color: black;
    padding: .625rem;
    background-color: grey;
    border-radius: .625rem;
}

.parrafo-campeonato{
    border-radius: 15px;
    width: 90%;
    margin:auto;
}

main{
    margin-bottom: 3%;
}


.div-grid-contacto{
    display: grid;
    width: 100%;
    height: 42.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
"div1 div1 div3 div3"
"div1 div1 div3 div3"
"div2 div2 div3 div3"
"div2 div2 div3 div3";
}

.div-parrafo-contacto{
    grid-area: div1;
}

.div-ul-contacto{
    grid-area: div2;
}

.form-contacto{
    grid-area: div3;
}

@media (max-width:1024px){

    .img-header{ 
        width: 8.125rem;
        height: 5.625rem;
    }

    .list-nav{
        gap:.9375rem;
    }

    .list-nav li a{
        font-size: 1.5rem;
    }

    h1{
        font-size:1.875rem;
    }

    h2{
        font-size:1.5625rem;
    }

    .div-grid-contacto{
        height: 37.5rem;
    }

    .div-parrafo-contacto{
        width: 25rem;
        padding: .625rem;
        margin-top: 3.125rem;
    }

    .div-ul-contacto{
        width: 25rem;
        margin-bottom: 3.4375rem;
    }
    

    .ul-contacto{
        gap: 3.75rem;
    }

    .form-contacto{
        width:18.75rem;
        height: 31.25rem;
        background-color: rgb(128, 128, 128);
        padding: .9375rem;
        margin: auto;
        border-radius: 1.5625rem;
    }
}

@media (max-width: 890px){
    .img-header{ 
        width: 8.125rem;
        height: 5.625rem;
    }
    
    .list-nav{
        gap:.9375rem;
    }
    
    .list-nav li a{
        font-size: 1.3125rem;
    }
    
    h1{
        font-size:1.6875rem;
    }
    
    h2{
        font-size:1.4375rem;
    }
    
    .div-parrafo-contacto{
        width: 21.875rem;
        padding: .625rem;
        margin-bottom: 4px;
    }
    
    .div-ul-contacto{
        width: 21.875rem;
        margin-bottom: 3.125rem;
    }
    
        .ul-contacto{
            gap: 3.75rem;
    }
    
    .form-contacto{
        width:16.875rem;
        height: 31.25rem;
        background-color: rgb(128, 128, 128);
        padding: .9375rem;
        margin: auto;
        border-radius: 1.5625rem;
    }
}

@media (max-width: 768px){

    .img-header{ 
        width: 6.25rem;
        height: 4.6875rem;
    }
    

    .list-nav{
        gap: .9375rem;
    }

    .list-nav li a{
        font-size: 1.125rem;
    }

    h1{
        font-size:1.5625rem;
    }

    h2{
        font-size: 1.25rem;
    }

    
    .img-1 img{
        height: 25rem;
    }

    .img-1{
        height: 28.125rem;
        width: 100%;
}

    .iconos-footer{
        width: 2.1875rem;
        height: 2.1875rem;
    }

    .parrafos-pag{
        font-size: 1.125rem;
    }

    .link-whatsapp{
        font-size: 1.125rem;
    }

    .div-grid-contacto{
        height: 31.25rem;
    }

    .form-contacto{
        width: 15.625rem;
        height: 25.625rem;
        background-color: rgb(128, 128, 128);
        padding: 1.25rem;
        border-radius: 1.5625rem;
        margin: auto;
    }

    .form-contacto .contact{
        padding: 0;
    }

    .div-ul-contacto{
        background-color: grey;
        width: 15.625rem;
        height: 7.5rem;
        padding: 1.25rem;
        border-radius: 1.5625rem;
    }   

    .ul-contacto{gap:3.125rem;
    }

    .div-parrafo-contacto{
        background-color: grey;
        width: 15.625rem;
        height:15rem;
        padding: .625rem;
        border-radius: 1.5625rem;
        margin-top: 2.625rem;
    }

    .div-parrafo-contacto p{
        font-size: 1.125rem;
        margin: 0;
    }


    .parrafo-campeonato{
        border-radius: .3125rem;
}

    .parrafos-pag{
        margin: .3125rem;
        font-size: 1.25rem
    }

    iframe{width:70%}
}

@media (max-width:590px){
    header {
        flex-direction: column;
        background-color: black;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        padding: 0;
    }

    .list-nav{
        gap: .5rem;
    }

    .list-nav li a{
        font-size: .9375rem;
    }

    h1{
        font-size: 18px;
    }

    h2{
        font-size: 1.25rem;
    }

    .img-1{
        height:25rem;
        width: 100%;
        padding: 0;
    }

    .img-1 img{
        height: 25rem;
        width:100%;
        border: none;
    }

    .iconos-footer{
        width: 2.1875rem;
        height: 2.1875rem;
    }

    .parrafos-pag{
        font-size: 1.125rem;
    }

    .link-whatsapp{
        font-size: 1.125rem;
    }

    .parrafo-campeonato{
        border-radius: .3125rem;
}

    .parrafos-pag{
        margin: .3125rem;
        font-size: 1.25rem;
    }

    iframe{
        width:70%;
    }

    .div-grid-contacto{
        display: block;
        height: 50rem;
    }

    .div-parrafo-contacto{
        background-color: grey;
        width: 90%;
        height: 11.25rem;
        padding: 1.25rem;
        margin: auto;
        border-radius: .625rem;
    }

    .div-ul-contacto{
        background-color: grey;
        width: 70%;
        height: 6.25rem;
        margin: auto;
        margin-top: 1.25rem;
        padding: .3125rem;
        border-radius: .625rem;
        margin-top: .625rem;
    }

    .form-contacto{
        width: 70%;
        height: 28.125rem;
        background-color: rgb(128, 128, 128);
        padding: 1.875rem;
        margin: auto;
        margin-top: 1.25rem;
        border-radius: .625rem;
    }

    .list-footer {
        gap: 1.25rem;
    }
}

@media (max-width:425px){
    header {
        flex-direction: column;
        background-color: black;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        padding: 0;
    } 

    .img-header{
        width: 5rem;
        height: 5rem;
    }

    .list-nav{
        gap: .6875rem;
    }

    .list-nav li a {
        font-size: .75rem;
    }

    h1{
        font-size: 1rem;
    }

    h2{
        font-size: .875rem;
    }

    .parrafos-pag{
        font-size: .875rem;
    }

    .img-1{
        height:16.25rem;
        width: 100%;
        padding: 0;
    }

    .img-1 img{
        height: 15rem;
        width:100%;
        border: none;
    }

    .link-whatsapp{
        font-size: .75rem;
    }

    iframe{
        width: 100%;
        height: 12.5rem;
        padding-bottom: none;
    }

    .parrafo-campeonato{
        border-radius: .3125rem;
    }

    .list-footer {
        display: flex;
        list-style: none;
        gap: .625rem;
        padding: 2%;
        justify-content: center;
    }

    .iconos-footer{
        height:25px;
        width: 25px;
    }

    .p-footer{
        font-size: .75rem;
    }

    .div-grid-contacto{
        display: block;
        height: 50rem;
    }

    .div-parrafo-contacto{
        background-color: grey;
        width: 90%;
        height: 13.75rem;
        padding: 1.25rem;
        margin: auto;
        border-radius: 0;
    }

    .div-ul-contacto{
        background-color: grey;
        width: 70%;
        height: 6.25rem;
        margin: auto;
        margin-top: 1.25rem;
        padding: .3125rem;
        border-radius: 0;
        margin-top: .625rem;
    }

    .ul-contacto{
        gap:1.875rem;
    }

    .form-contacto{
        width: 70%;
        height: 28.125rem;
        background-color: rgb(128, 128, 128);
        padding: 1.875rem;
        margin: auto;
        margin-top: 1.25rem;
        border-radius: 0;
    }

    .button-reserva{
        padding: .0625rem;
    }

    .button-reserva a{
        font-size: .75rem;
    }
}

@media (max-width:320px){

    header {
        flex-direction: column;
    } 

    .img-header{
        width: 5rem;
        height: 5rem;
    }

    .list-nav{
        gap: .6875rem;
    }

    .list-nav li a {
        font-size: .75rem;
    }

    h1{
        font-size: 1rem;
    }

    h2{
        font-size: 1rem;
    }

    .subtitle-principal{
        margin-bottom: 6.25rem;
        margin-top: 6.25rem;
        line-height: 2rem;
    }

    .parrafos-pag{
        font-size: 1rem;
    }

    .img-1{
        height:16.25rem;
        width: 100%;
        padding: 0;
    }

    .img-1 img{
        height: 15rem;
        width:100%;
        border: none;
    }

    .link-whatsapp{
        font-size: .75rem;
    }

    iframe{
        width: 100%;
        height: 12.5rem;
        padding-bottom: none;
    }

    .parrafo-campeonato{
        border-radius: .3125rem;
    }

    .list-footer {
        gap: .625rem;
    }

    .iconos-footer{
        height:25px;
        width: 25px;
    }

    .p-footer{
        font-size: .75rem;
    }

    .div-grid-contacto{
        display: block;
        height: 50rem;
    }

    .div-parrafo-contacto{
        background-color: grey;
        width: 90%;
        height: 12.5rem;
        padding: .625rem;
        margin: auto;
        border-radius: 0;
    }

.div-ul-contacto{
    background-color: grey;
    width: 70%;
    height: 6.25rem;
    margin: auto;
    margin-top: 1.25rem;
    padding: .3125rem;
    border-radius: 0;
    margin-top: .625rem;
    }

    .ul-contacto{
        gap:1.875rem;
    }

    .form-contacto{
        width: 70%;
        height: 28.125rem;
        background-color: rgb(128, 128, 128);
        padding: 1.875rem;
        margin: auto;
        margin-top: 1.25rem;
        border-radius: 0;
    }

    .button-reserva{
        padding: .0625rem;
    }

    .button-reserva a{
        font-size: .75rem;
    }
}
