/*utilities*/
/*archivos de base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  background-image: linear-gradient(to bottom, #000000, #040404, #080809, #0c0d0d, #0f1010, #0f1010, #0f1010, #0f1010, #0c0d0d, #080809, #040404, #000000); }

/*layout*/
header {
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1; }
  header .back {
    padding: 32px 0;
    background-color: black; }
    header .back .menu {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000; }
      header .back .menu .img-header {
        height: 6.875rem;
        width: 9.375rem; }
      header .back .menu .menu-icono {
        width: 1.5625rem; }
      header .back .menu .conteiner {
        margin: 0 auto; }
      header .back .menu #menu {
        display: none; }
      header .back .menu label {
        cursor: pointer;
        display: none; }

.navbar .list-nav {
  display: flex;
  flex-direction: row;
  gap: 1.25rem; }
  .navbar .list-nav li {
    position: relative;
    float: left;
    list-style: none; }
    .navbar .list-nav li a {
      text-decoration: none;
      font-size: 1.625rem;
      color: white;
      display: block;
      text-align: center; }

main {
  margin-bottom: 1.875rem; }
  main h1 {
    text-align: center;
    background-color: grey;
    color: black;
    padding: 1.25rem; }
  main h2 {
    text-align: center;
    color: white;
    font-size: 1.875rem;
    text-align: center;
    margin: 1.875rem; }
  main .img-1 {
    text-align: center;
    width: 100%;
    height: 37.5rem;
    padding: 2%; }
    main .img-1 img {
      height: 100%;
      width: 70%;
      border: 3px solid grey; }
  main .parrafos-pag {
    text-align: center;
    font-size: 1.5625rem;
    color: white; }
  main .parrafos {
    text-align: center;
    background-color: grey;
    width: 80%;
    margin: auto;
    padding: 1.25rem;
    border-radius: .3125rem; }
    main .parrafos p {
      color: black;
      font-size: 1.25rem; }
  main .div-iframe {
    text-align: center;
    width: 100%;
    margin-bottom: .1875rem; }
    main .div-iframe iframe {
      width: 70%;
      margin-top: 1.25rem; }
  main .grid-reserva .img-grid-reserva1 {
    width: 21.875rem;
    height: 18.75rem; }
    main .grid-reserva .img-grid-reserva1 img {
      width: 21.875rem;
      height: 18.75rem; }
  main .grid-reserva .img-grid-reserva2 {
    width: 21.875rem;
    height: 18.75rem; }
    main .grid-reserva .img-grid-reserva2 img {
      width: 21.875rem;
      height: 18.75rem; }
  main .grid-reserva .img-grid-reserva3 {
    width: 21.875rem;
    height: 18.75rem; }
    main .grid-reserva .img-grid-reserva3 img {
      width: 21.875rem;
      height: 18.75rem; }
  main .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25rem; }
    main .cards .div-card {
      width: 28.125rem;
      height: 23.125rem;
      background-color: grey; }
      main .cards .div-card img {
        width: 28.125rem;
        height: 18.75rem; }
      main .cards .div-card h4 {
        text-align: center;
        font-size: 2.5rem; }

.div-grid-contacto .div-parrafo-contacto {
  background-color: grey;
  width: 31.25rem;
  height: 15.625rem;
  padding: 2.5rem;
  margin: auto;
  margin-top: 3.125rem;
  border-radius: 1.5625rem; }
  .div-grid-contacto .div-parrafo-contacto p {
    font-size: 1.5rem;
    text-align: center; }

.div-grid-contacto .div-ul-contacto {
  background-color: grey;
  width: 31.25rem;
  height: 9.375rem;
  margin: auto;
  margin-bottom: 3.4375rem;
  padding: 1.875rem;
  border-radius: 1.5625rem; }
  .div-grid-contacto .div-ul-contacto h4 {
    font-size: 1.625rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: .9375rem; }

.div-grid-contacto .ul-contacto {
  background-color: grey;
  display: flex;
  list-style: none;
  gap: 5.625rem;
  justify-content: center; }
  .div-grid-contacto .ul-contacto li a .iconos-footer {
    width: 2.8125rem;
    height: 2.8125rem; }

.div-grid-contacto .form-contacto {
  width: 23.75rem;
  height: 31.25rem;
  background-color: grey;
  padding: 1.875rem;
  margin: auto;
  border-radius: 1.5625rem; }
  .div-grid-contacto .form-contacto h4 {
    text-align: center;
    text-decoration: underline;
    height: 4.375rem;
    font-size: 1.5rem; }
  .div-grid-contacto .form-contacto .contact {
    width: 100%;
    padding: .625rem;
    border-radius: .625rem;
    margin-bottom: 2.8125rem;
    border: 1px solid black; }
  .div-grid-contacto .form-contacto .boton {
    width: 100%;
    border: 1px solid black;
    color: black;
    padding: .625rem;
    background-color: grey;
    border-radius: .625rem; }

footer {
  background-color: grey;
  padding: .3125rem; }
  footer .list-footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    padding: 2%;
    justify-content: center; }
    footer .list-footer li a img {
      width: 2.8125rem;
      height: 2.8125rem; }
  footer .p-footer {
    font-size: .9375rem;
    text-align: center; }

.div-grid-contacto {
  display: grid;
  width: 100%;
  height: 37.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "div1 div1 div3 div3" "div1 div1 div3 div3" "div2 div2 div3 div3" "div2 div2 div3 div3"; }

.div-parrafo-contacto {
  grid-area: div1; }

.div-ul-contacto {
  grid-area: div2; }

.form-contacto {
  grid-area: div3; }

.grid-reserva {
  display: grid;
  width: 100%;
  height: 25rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "div1 div2 div3" "div1 div2 div3" "div1 div2 div3" "div1 div2 div3"; }

.img-grid-reserva1 {
  grid-area: div1; }

.img-grid-reserva2 {
  grid-area: div2; }

.img-grid-reserva3 {
  grid-area: div3; }

/*components*/
.div-button {
  text-align: center; }
  .div-button .button-reserva {
    padding: .625rem;
    background-color: grey;
    border-radius: .625rem;
    margin: 1.25rem; }
    .div-button .button-reserva:hover {
      transform: scale(1.2); }
    .div-button .button-reserva a {
      color: black;
      text-decoration: none;
      font-size: 1rem; }
      .div-button .button-reserva a:hover {
        text-decoration: underline; }

.list-nav li:hover {
  transform: scale(1.2); }

.titulo {
  -webkit-animation: tracking-in-contract-bck 2000ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 2000ms cubic-bezier(0.215, 0.61, 0.355, 1) both; }

/* ----------------------------------------------
 * Generated by Animista on 2024-4-17 16:45:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/*medias*/
@media (max-width: 1225px) and (max-width: 1225px) {
  main section .grid-reserva .img-grid-reserva1 {
    width: 18.75rem;
    height: 18.75rem; }
    main section .grid-reserva .img-grid-reserva1 img {
      width: 18.75rem;
      height: 18.75rem; }
  main section .grid-reserva .img-grid-reserva2 {
    width: 18.75rem;
    height: 18.75rem; }
    main section .grid-reserva .img-grid-reserva2 img {
      width: 18.75rem;
      height: 18.75rem; }
  main section .grid-reserva .img-grid-reserva3 {
    width: 18.75rem;
    height: 18.75rem; }
    main section .grid-reserva .img-grid-reserva3 img {
      width: 18.75rem;
      height: 18.75rem; } }

@media (max-width: 1024px) and (max-width: 1024px) {
  header {
    height: 6.25rem; }
    header .back .menu .img-header {
      width: 8.125rem;
      height: 5.625rem; }
    header .back .menu nav .list-nav {
      gap: .9375rem; }
      header .back .menu nav .list-nav li a {
        font-size: 1.5rem; }
  main h1 {
    font-size: 1.875rem; }
  main h2 {
    font-size: 1.5625rem; }
  main .cards {
    height: 21.875rem; }
    main .cards .div-card {
      width: 21.875rem;
      height: 18.75rem; }
      main .cards .div-card img {
        width: 21.875rem;
        height: 15.625rem; }
      main .cards .div-card h4 {
        text-align: center;
        font-size: 2.5rem; }
  main .div-grid-contacto {
    height: 37.5rem; }
    main .div-grid-contacto .div-parrafo-contacto {
      width: 25rem;
      padding: 1.875rem;
      margin-top: 3.125rem; }
    main .div-grid-contacto .div-ul-contacto {
      width: 25rem;
      margin-bottom: 3.4375rem; }
    main .div-grid-contacto .ul-contacto {
      gap: 3.75rem; }
    main .div-grid-contacto .form-contacto {
      width: 18.75rem;
      height: 31.25rem;
      padding: .9375rem;
      margin: auto;
      border-radius: 1.5625rem; }
      main .div-grid-contacto .form-contacto .contact {
        margin-bottom: 3.125rem; }
  main section .grid-reserva .img-grid-reserva1 {
    width: 16.25rem;
    height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva1 img {
      width: 16.25rem;
      height: 16.25rem; }
  main section .grid-reserva .img-grid-reserva2 {
    width: 16.25rem;
    height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva2 img {
      width: 16.25rem;
      height: 16.25rem; }
  main section .grid-reserva .img-grid-reserva3 {
    width: 16.25rem;
    height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva3 img {
      width: 16.25rem;
      height: 16.25rem; } }

@media (max-width: 890px) and (max-width: 890px) {
  header .back .menu .img-header {
    width: 8.125rem;
    height: 5.625rem; }
  header .back .menu nav .list-nav {
    gap: .9375rem; }
    header .back .menu nav .list-nav li a {
      font-size: 1.375rem; }
  main h1 {
    font-size: 1.6875rem; }
  main h2 {
    font-size: 1.4375rem; }
  main .img-1 {
    height: 31.25rem; }
  main .parrafos p {
    font-size: 1.25rem; }
  main .div-grid-contacto .div-parrafo-contacto {
    width: 21.875rem;
    padding: 1.875rem;
    margin-bottom: 4px; }
  main .div-grid-contacto .div-ul-contacto {
    width: 21.875rem;
    margin-bottom: 3.125rem; }
    main .div-grid-contacto .div-ul-contacto .ul-contacto {
      gap: 3.75rem; }
  main .div-grid-contacto .form-contacto {
    width: 16.875rem;
    height: 31.25rem;
    padding: .9375rem;
    margin: auto;
    border-radius: 1.5625rem; }
  main section .grid-reserva {
    height: 15.625rem;
    margin-bottom: 3.125rem; }
    main section .grid-reserva .img-grid-reserva1 {
      width: 14.375rem;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva1 img {
        width: 14.375rem;
        height: 14.375rem; }
    main section .grid-reserva .img-grid-reserva2 {
      width: 14.375rem;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva2 img {
        width: 14.375rem;
        height: 14.375rem; }
    main section .grid-reserva .img-grid-reserva3 {
      width: 14.375rem;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva3 img {
        width: 14.375rem;
        height: 14.375rem; } }

@media (max-width: 768px) and (max-width: 768px) {
  header {
    height: 5rem; }
    header .back .menu .img-header {
      width: 6.25rem;
      height: 4.6875rem; }
    header .back .menu nav .list-nav {
      gap: 1.25rem; }
      header .back .menu nav .list-nav li a {
        font-size: 1.25rem;
        padding: 0; }
  main h1 {
    font-size: 1.5625rem; }
  main h2 {
    font-size: 1.25rem; }
  main .img-1 {
    height: 25rem; }
  main .parrafos-pag {
    font-size: 1.125rem; }
  main .parrafos p {
    font-size: 1.25rem; }
  main iframe {
    width: 70%; }
  main .div-button {
    text-align: center; }
    main .div-button .button-reserva {
      padding: .3125rem;
      border-radius: .625rem;
      margin: 1.25rem; }
      main .div-button .button-reserva a {
        font-size: .75rem; }
  main .cards {
    height: 18.75rem; }
    main .cards .div-card {
      width: 15.625rem;
      height: 15.625rem; }
      main .cards .div-card img {
        width: 15.625rem;
        height: 12.5rem; }
      main .cards .div-card h4 {
        text-align: center;
        font-size: 1.875rem; }
  main .div-grid-contacto {
    height: 31.25rem; }
    main .div-grid-contacto .form-contacto {
      width: 15.625rem;
      height: 25.625rem;
      padding: 1.25rem;
      border-radius: 1.5625rem;
      margin: auto; }
      main .div-grid-contacto .form-contacto .contact {
        margin-bottom: 1.5625rem; }
    main .div-grid-contacto .div-ul-contacto {
      width: 15.625rem;
      height: 7.5rem;
      padding: 1.25rem;
      border-radius: 1.5625rem; }
      main .div-grid-contacto .div-ul-contacto .ul-contacto {
        gap: 3.125rem; }
        main .div-grid-contacto .div-ul-contacto .ul-contacto li a img {
          width: 2.1875rem;
          height: 2.1875rem; }
    main .div-grid-contacto .div-parrafo-contacto {
      width: 15.625rem;
      height: 15rem;
      padding: 1.875rem;
      border-radius: 1.5625rem;
      margin-top: 2.625rem; }
      main .div-grid-contacto .div-parrafo-contacto p {
        font-size: 1.125rem; }
  main section .grid-reserva {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    height: 50rem;
    margin-bottom: 1.25rem; }
    main section .grid-reserva .img-grid-reserva1 {
      width: 28.125rem;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva1 img {
        width: 28.125rem;
        height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva2 {
      width: 28.125rem;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva2 img {
        width: 28.125rem;
        height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva3 {
      width: 28.125rem;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva3 img {
        width: 28.125rem;
        height: 16.25rem; }
  footer .list-footer li a .iconos-footer {
    width: 2.1875rem;
    height: 2.1875rem; } }

@media (max-width: 590px) and (max-width: 590px) {
  header .back {
    padding: 40px 0; }
    header .back .menu {
      justify-content: space-between;
      padding: 0 .625rem; }
      header .back .menu label {
        display: initial; }
      header .back .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none; }
        header .back .menu .navbar .list-nav {
          display: flex;
          flex-direction: column; }
          header .back .menu .navbar .list-nav li a {
            padding: 10px 0;
            color: grey; }
  header #menu:checked ~ .navbar {
    display: initial; }
  main h1 {
    font-size: 1.125rem; }
  main h2 {
    font-size: 1.25rem; }
  main .subtitle-principal {
    line-height: 2rem; }
  main .img-1 {
    height: 25rem;
    width: 100%;
    padding: 0; }
    main .img-1 img {
      height: 25rem;
      width: 100%;
      border: none; }
  main .parrafos-pag {
    margin: .3125rem;
    font-size: 1.25rem; }
  main .parrafos {
    width: 100%; }
    main .parrafos p {
      font-size: 1.25rem; }
  main .div-iframe {
    width: 100%;
    text-align: center; }
    main .div-iframe iframe {
      width: 100%; }
  main .cards {
    height: 43.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1.875rem; }
    main .cards .div-card {
      width: 100%;
      height: 21.875rem; }
      main .cards .div-card img {
        width: 100%;
        height: 18.75rem; }
      main .cards .div-card h4 {
        text-align: center;
        font-size: 1.875rem; }
  main .div-grid-contacto {
    display: flex;
    flex-direction: column;
    height: 50rem; }
    main .div-grid-contacto .div-parrafo-contacto {
      width: 100%;
      height: 9.375rem;
      margin: auto;
      border-radius: 0; }
      main .div-grid-contacto .div-parrafo-contacto p {
        font-size: 1.25rem; }
    main .div-grid-contacto .div-ul-contacto {
      width: 70%;
      height: 6.25rem;
      margin: auto;
      margin-top: 1.25rem;
      padding: .3125rem;
      border-radius: .625rem;
      margin-top: .625rem; }
    main .div-grid-contacto .form-contacto {
      width: 70%;
      height: 28.125rem;
      padding: 1.875rem;
      margin: auto;
      margin-top: 1.25rem;
      border-radius: .625rem; }
  main section .grid-reserva {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    height: 50rem;
    margin-bottom: 1.25rem; }
    main section .grid-reserva .img-grid-reserva1 {
      width: 100%;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva1 img {
        width: 100%;
        height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva2 {
      width: 100%;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva2 img {
        width: 100%;
        height: 16.25rem; }
    main section .grid-reserva .img-grid-reserva3 {
      width: 100%;
      height: 16.25rem; }
      main section .grid-reserva .img-grid-reserva3 img {
        width: 100%;
        height: 16.25rem; }
  footer .list-footer {
    gap: 1.25rem; }
    footer .list-footer li a .iconos-footer {
      width: 2.1875rem;
      height: 2.1875rem; } }

@media (max-width: 425px) and (max-width: 425px) {
  header .back .menu .navbar .list-nav li a {
    padding: 5px 0; }
  main h1 {
    font-size: 1rem; }
  main h2 {
    font-size: .875rem; }
  main .parrafos-pag {
    font-size: .875rem; }
  main .img-1 {
    height: 18.75rem;
    width: 100%;
    padding: 0; }
    main .img-1 img {
      height: 17.5rem;
      width: 100%;
      border: none; }
  main iframe {
    width: 100%;
    height: 12.5rem;
    padding-bottom: none; }
  main .cards .div-card {
    height: 18.75rem; }
    main .cards .div-card img {
      height: 16.875rem; }
    main .cards .div-card h4 {
      font-size: 1.25rem; }
  main .div-grid-contacto {
    display: block;
    height: 50rem; }
    main .div-grid-contacto .div-parrafo-contacto {
      width: 100%;
      height: 11.875rem;
      padding: 1.25rem;
      margin: auto;
      border-radius: 0; }
    main .div-grid-contacto .div-ul-contacto {
      width: 70%;
      height: 6.25rem;
      margin: auto;
      margin-top: 1.25rem;
      padding: .3125rem;
      border-radius: 0;
      margin-top: .625rem; }
    main .div-grid-contacto .ul-contacto {
      gap: 1.875rem; }
    main .div-grid-contacto .form-contacto {
      width: 70%;
      height: 28.125rem;
      padding: 1.875rem;
      margin: auto;
      margin-top: 1.25rem;
      border-radius: 0; }
  main section .grid-reserva {
    height: 45rem;
    margin-bottom: 1.25rem; }
    main section .grid-reserva .img-grid-reserva1 {
      width: 100%;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva1 img {
        width: 100%;
        height: 14.375rem; }
    main section .grid-reserva .img-grid-reserva2 {
      width: 100%;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva2 img {
        width: 100%;
        height: 14.375rem; }
    main section .grid-reserva .img-grid-reserva3 {
      width: 100%;
      height: 14.375rem; }
      main section .grid-reserva .img-grid-reserva3 img {
        width: 100%;
        height: 14.375rem; }
  footer .list-footer {
    display: flex;
    list-style: none;
    gap: .625rem;
    padding: 2%;
    justify-content: center; }
    footer .list-footer li a .iconos-footer {
      height: 25px;
      width: 25px; }
  footer .p-footer {
    font-size: .75rem; }
  .button-reserva {
    padding: .0625rem; }
    .button-reserva a {
      font-size: .75rem; } }

@media (max-width: 320px) and (max-width: 320px) {
  header {
    height: 4.375rem; }
    header .back .menu .img-header {
      width: 4.375rem;
      height: 4.0625rem; }
    header .back .menu nav .list-nav {
      gap: .9375rem; }
      header .back .menu nav .list-nav li a {
        font-size: 1.125rem; }
  main h1 {
    font-size: 1rem; }
  main h2 {
    font-size: 1rem; }
  main .subtitle-principal {
    margin-bottom: 6.25rem;
    margin-top: 6.25rem;
    line-height: 2rem; }
  main .parrafos-pag {
    font-size: 1rem; }
  main .img-1 {
    height: 16.25rem;
    width: 100%;
    padding: 0; }
    main .img-1 img {
      height: 15rem;
      width: 100%;
      border: none; }
  main iframe {
    width: 100%;
    height: 12.5rem;
    padding-bottom: none; }
  footer .list-footer {
    gap: .625rem; }
    footer .list-footer li a .iconos-footer {
      height: 1.25rem;
      width: 1.25rem; }
  footer .p-footer {
    font-size: .75rem; }
  .div-grid-contacto {
    display: block;
    height: 50rem; }
    .div-grid-contacto .div-parrafo-contacto {
      background-color: grey;
      width: 90%;
      height: 12.5rem;
      padding: .625rem;
      margin: auto;
      border-radius: 0; }
    .div-grid-contacto .div-ul-contacto {
      background-color: grey;
      width: 70%;
      height: 6.25rem;
      margin: auto;
      margin-top: 1.25rem;
      padding: .3125rem;
      border-radius: 0;
      margin-top: .625rem; }
    .div-grid-contacto .ul-contacto {
      gap: 1.875rem; }
    .div-grid-contacto .form-contacto {
      width: 70%;
      height: 28.125rem;
      background-color: grey;
      padding: 1.875rem;
      margin: auto;
      margin-top: 1.25rem;
      border-radius: 0; }
  .button-reserva {
    padding: .0625rem; }
    .button-reserva a {
      font-size: .75rem; } }
