@media (max-width:425px){
    header{
        .back{
            .menu{
                .navbar{
                    .list-nav{
                        li{
                            a{
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    main{
        h1{
            font-size: 1rem;
        }
        h2{
            font-size: .875rem;
        }
        .subtitle-principal{
            margin-bottom: 6.25rem;
            margin-top: 6.25rem;
            line-height: 2rem;
        }
        .parrafos-pag{
            font-size: .875rem;
        }
        .img-1{
            height:18.75rem;
            width: 100%;
            padding: 0;
            img{
                height: 17.5rem;
                width:100%;
                border: none;
            }
        }
        iframe{
            width: 100%;
            height: 12.5rem;
            padding-bottom: none;
        }
        .cards{
            .div-card{
                height: 18.75rem;
                img{
                    height: 16.875rem;
                }
                h4{
                    font-size: 1.25rem;
                }
            }
        }
        .div-grid-contacto{
            display: block;
            height: 50rem;
            .div-parrafo-contacto{
                width: 100%;
                height: 11.875rem;
                padding: 1.25rem;
                margin: auto;
                border-radius: 0;
            }
            .div-ul-contacto{
                width: 70%;
                height: 6.25rem;
                margin: auto;
                margin-top: 1.25rem;
                padding: .3125rem;
                border-radius: 0;
                margin-top: .625rem;
            }
            .ul-contacto{
                gap:1.875rem;
            }
            .form-contacto{
                width: 70%;
                height: 28.125rem;
                padding: 1.875rem;
                margin: auto;
                margin-top: 1.25rem;
                border-radius: 0;
            }
        }
        section{
            .grid-reserva{
                height: 45rem;
                margin-bottom: 1.25rem;
                .img-grid-reserva1{
                    width: 100%;
                    height: 14.375rem;
                    img{
                        width: 100%;
                        height: 14.375rem;
                    }
                }
                .img-grid-reserva2{
                    width:100%;
                    height: 14.375rem;
                    img{
                        width: 100%;
                        height: 14.375rem;
                    }
                }
                .img-grid-reserva3{
                    width: 100%;
                    height:14.375rem;
                    img{
                        width: 100%;
                        height: 14.375rem;
                    }
                }
            }
        }
    }

    footer{
        .list-footer {
            display: flex;
            list-style: none;
            gap: .625rem;
            padding: 2%;
            justify-content: center;
            li{
                a{
                    .iconos-footer{
                        height:25px;
                        width: 25px;
                    }
                }
            }
        }
        .p-footer{
            font-size: .75rem;
        }
    }

    .button-reserva{
        padding: .0625rem; 
        a{
            font-size: .75rem;
        }
    }
    
}