@media (max-width:1225px){
    main{
        section{
            .grid-reserva{
                .img-grid-reserva1{
                    width: 18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
                .img-grid-reserva2{
                    width:18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
                .img-grid-reserva3{
                    width: 18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
            }
        }
    }
}