@media (max-width:1225px){
    main{
        .img-1{
            height: 37.5rem;
            padding: 2%;
            img{
            height: 100%;
            width: 70%;
            }
        }
        section{
            .grid-reserva{
                .img-grid-reserva1{
                    width: 18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
                .img-grid-reserva2{
                    width:18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
                .img-grid-reserva3{
                    width: 18.75rem;
                    height: 18.75rem;
                    img{
                        width: 18.75rem;
                        height: 18.75rem;
                    }
                }
            }
        }
    }
}