@media (max-width:1024px){
    header{
        height: 6.25rem;
        .back{
            .menu{
                .img-header{ 
                    width: 8.125rem;
                    height: 5.625rem;
                }
                nav{
                    .list-nav{
                        gap:.9375rem;
                        li{
                            a{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }


    main{
        h1{
            font-size:1.875rem;
        }
        h2{
            font-size:1.5625rem;
        }
        .img-1{
            height: 31.25rem;
            img{
                height: 28.125rem;
            }
        }
        .cards{
            height: 21.875rem;
            .div-card{
                width: 21.875rem;
                height: 18.75rem;
                img{
                    width: 21.875rem;
                    height: 15.625rem;
                }
                h4{
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        }
        .div-grid-contacto{
            height: 37.5rem;
            .div-parrafo-contacto{
                width: 25rem;
                padding: 1.875rem;
                margin-top: 3.125rem;
            }
            .div-ul-contacto{
                width: 25rem;
                margin-bottom: 3.4375rem;
            }
            .ul-contacto{
                gap: 3.75rem;
            }
            .form-contacto{
                width:18.75rem;
                height: 31.25rem;;
                padding: .9375rem;
                margin: auto;
                border-radius: 1.5625rem;
                .contact{
                    margin-bottom: 3.125rem;
                }
            }
        }
        section{
            .grid-reserva{
                .img-grid-reserva1{
                    width: 16.25rem;
                    height: 16.25rem;
                    img{
                        width: 16.25rem;
                        height: 16.25rem;
                    }
                }
                .img-grid-reserva2{
                    width:16.25rem;
                    height: 16.25rem;
                    img{
                        width: 16.25rem;
                        height: 16.25rem;
                    }
                }
                .img-grid-reserva3{
                    width: 16.25rem;
                    height: 16.25rem;
                    img{
                        width: 16.25rem;
                        height: 16.25rem;
                    }
                }
            }
        }
    }
}
